@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", "sans-serif";
}
.logo a {
    font-weight: 800;
    width: 100px;
    color: #ffb24e;
    text-decoration: none;
    font-style: italic;
}

.main-header {
    font-weight: 700;
    font-size: 58px;
}

.main-header span {
    color: #29498f;
}

.container {
    display: flex;
}

.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    margin: auto;
}

.card img {
    width: 400px;
    float: left;
    margin: 10px;
}

@media (max-width: 680px) {
    .card img {
        width: 100%;
        float: none;
        margin: 10px auto;
        padding: 10px;
        object-fit: contain;
    }

    .container {
        display: block;
    }
}